 *{
    margin: 0;
    list-style: none;

}

header{
    display: flex;
    height: 47px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    box-shadow: 5px 0 10px black;
}



.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    padding-left: 20px;
}

nav a:hover{
    color: pink;
    transition: .3s;
}

header nav ul li{
    display: inline-block;
    padding: 5px;
    margin-right: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}

.nav-index {
    background-color: rgb(18, 21, 15);
    
}

.nav-biografia{
    background-color: black;
}

.nav-tour{
    background-color: rgb(49, 54, 49);
}

.nav-discografia{
    background-color: rgb(30, 30, 30);
}

.nav-contacto{
    background-color: rgb(38, 40, 38);
}

.fondo img{
    width: 1349px;
    margin-top: 47px;
}

.fondo-discografia{
    margin-top: 47px;
}

.blanco h5{
    font-size: px;
    color: white;
}
.blanco{
    background-color: white;
}

.parrafo-1{
    display: inline-block;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 17px 5px;
}

.parrafo-2{
    display: inline-block;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 5px 5px 30px;
}

.pagina-tour{
    background-image: url(../assets/img/melanie-fondo-tour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pagina-contacto{
    background-image: url(../assets/img/fondo-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-de-forms{
    color: white;
    width: 1000px;
    height: 500px 0px;
    margin: 0 auto;
}

.contenedor-de-forms form .nombre{
    margin: 40px 0px 0px 375px;
}

.nombre input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 10px;
}

.contenedor-de-forms form .apellido{
    margin: 40px 0px 0px 375px;
}

.apellido input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 8px;
}

.contenedor-de-forms form .correo{
    margin: 40px 0px 0px 375px;
}

.correo input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 19px;
}

.contenedor-de-forms form .usuario{
    margin: 40px 0px 0px 375px;
}

.usuario input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 14px;
}

.contenedor-de-forms form .contraseña{
    margin: 40px 0px 0px 375px;
}

.registrate{
    padding: 115px 0px 0px 615px;
    color: white;
    font-size: 28px;
}

.registrado{
    color: white;
    padding: 60px 0px 0px 610px;
}

.inicia-sesion{
    color: grey;
    padding: 0px 0px 0px 650px;
}

.footer-contacto{
    padding: 115px 0px 0px 626px;
}

.footer-contacto ul li a{
    color: white;
}

.redes div ul li img{
    width: 45px;
    height: 45px;
}

.ig{
    position: absolute;
    top: 585px;
    right: 10px;
}

.tw{
    position: absolute;
    top: 640px;
    right: 10px;
}

.yt{
    position: absolute;
    top: 695px;
    right: 10px;
}

.fb{
    position: absolute;
    top: 750px;
    right: 10px;
}

section{
    color: white;
    font-size: 14px;
}



.pity-party{
    position: absolute;
    top: 95px;
    left: 45px;
}

.highschool{
    position: absolute;
    top: 460px;
    left: 45px;
}

.nurces-office{
    position: absolute;
    top: 95px;
    right: 50px;
}

.teachers-pet{
    position: absolute;
    top: 460px;
    right: 50px;
}

.cancion1{
    font-size: 16px;
    position:  absolute;
    top: 75px;
    left: 276px;
}

.cancion3{
    font-size: 16px;
    position:  absolute;
    top: 440px;
    left: 230px;
}

.cancion2{
    font-size: 16px;
    position:  absolute;
    top: 75px;
    right: 260px;
}

.cancion4{
    font-size: 16px;
    position:  absolute;
    top: 440px;
    right: 260px;
}

.footer-discografia{
    position: absolute;
    top: 773px;
    left: 620px;
}

.footer-discografia ul li a{
    color: white;
}





.sitio-biografia{
    background-color: rgb(30 30 30);
}

.melanie-2015{
    position: absolute;
    left: 20px;
    top: 70px;
}

.melanie-2019{
    width: 640px;
    position: absolute;
    right: 21px;
    top: 895px;

}

.titulo-biografia{
    font-size: 24px;
    padding: 85px 0px 0px 925px;
}

.biografia{
    text-align: left;
    font-size: 17px;
    padding: 10px 0px 0px 670px;
}

.vida-temprana{
    font-size: 24px;
    padding: 50px 0px 0px 896px;
}

.familia{
    font-size: 17px;
    padding: 10px 0px 0px 670px;
}

.inicios{
    font-size: 24px;
    padding: 50px 0px 0px 858px;
}

.año-catorce{
    font-size: 22px;
    padding: 0px 0px 0px 958px;
}

.thevoice{
    font-size: 17px;
    text-align: left;
    padding: 0px 0px 0px 670px;
}

.thevoice-2{
    font-size: 17px;
    text-align: left;
    padding: 0px 0px 0px 20px;
}

.año-quince{
    font-size: 22px;
    padding: 50px 0px 0px 635px;
}

.debut{
    font-size: 17px;
    text-align: left;
    padding: 0px 0px 0px 20px;
}

.debut-2{
    font-size: 17px;
    text-align: left;
    padding: 0px 660px 0px 20px;
}

.año-dieciséis{
    font-size: 22px;
    padding: 50px 0px 0px 270px;
}

.finales{
    font-size: 17px;
    padding: 0px 665px 0px 20px;
}

.año-veinte{
    font-size: 22px;
    padding: 50px 0px 0px 310px;
}

.billboard{
    font-size: 17px;
    padding: 0px 665px 0px 20px;
}

.billboard2{
    font-size: 17px;
    padding: 0px 5px 0px 20px;
}

.año-veintitres{
    font-size: 22px;
    padding: 50px 0px 0px 650px;
}

.albumportals{
    font-size: 17px;
    padding: 0px 5px 0px 20px;
}

.footer-biografia ul li{
    color: white;
    padding: 20px 0px 15px 620px;
}

.footer-biografia ul li a{
    color: white;
}

.linktour{
    color: white;
}

.mayo{
    position: absolute;
    top: 120px;
    left: 50px;
}

.junio1{
    position: absolute;
    top: 220px;
    left: 50px;
}

.junio2{
    position: absolute;
    top: 320px;
    left: 50px;
}

.junio3{
    position: absolute;
    top: 420px;
    left: 50px;
}

.primertour{
    position: absolute;
    top: 120px;
    left: 140px;
}

.segundotour{
    position: absolute;
    top: 220px;
    left: 140px;
}

.tercertour{
    position: absolute;
    top: 320px;
    left: 140px;
}

.cuartotour{
    position: absolute;
    top: 420px;
    left: 140px;
}

.link1{
    position: absolute;
    top: 120px;
    right: 150px;
}

.link2{
    position: absolute;
    top: 220px;
    right: 150px;
}

.link3{
    position: absolute;
    top: 320px;
    right: 150px;
}

.link4{
    position: absolute;
    top: 420px;
    right: 150px;
}

.footertour ul li{
    position: absolute;
    bottom: 10px;
    left: 660px;
}

.footertour ul li a{
    color: white;
}

.footer-biografia ul li a:hover {
    border-bottom: 3px solid white;

}

@media (max-width: 1024px){
    .melanie-2015{
        width: 500px;
    }

    .titulo-biografia{
        padding: 85px 0px 0px 710px;
    }

    .biografia{
        font-size: 18px;
        padding: 10px 0px 0px 530px;
    }

    .vida-temprana{
        font-size: 24px;
        padding: 50px 0px 0px 685px;
    }

    .familia{
        font-size: 18px;
        padding: 10px 0px 0px 530px;
        display: inline-block;
    }
}


@media (max-width: 400px){
    .melanie-2015{
        width: 1100px;
        position: absolute;
        top: 90px;
        left: 55px;
    }

    .titulo-biografia{
        font-size: 60px;
        padding: 1220px 0px 0px 430px;
    }

    .biografia{
        font-size: 44px;
        padding: 10px 0px 0px 10px;
        width: 1180px;
        text-align: center;
    }

    .vida-temprana{
        font-size: 60px;
        padding: 70px 0px 0px 350px;
        width: 600px;
    }

    .familia{
        font-size: 44px;
        padding: 10px 0px 0px 10px;
        width: 1180px;
        text-align: center;
    }

    .melanie-2019{
        width: 1100px;
        position: absolute;
        left: 55px;
        top: 2800px;
    }  

    .inicios{
        font-size: 60px;
        padding: 1180px 0px 0px 235px;
        width: 800px;
    }

    .año-catorce{
        font-size: 50px;
        padding: 0px 0px 0px 505px;
        width: 200px;
    }

    .thevoice{
        font-size: 44px;
        text-align: center;
        padding: 10px 0px 0px 10px;
        width: 1190px;
    }

    .thevoice-2{
        font-size: 44px;
        text-align: center;
        padding: 0px 0px 0px 15px;
        width: 1170px;
    }

    .año-quince{
        font-size: 50px;
        padding: 50px 0px 0px 505px;
        width: 200px;
    }

    .debut{
        font-size: 44px;
        text-align: center;
        padding: 10px 0px 0px 15px;
        width: 1170px;
    }

    .debut-2{
        font-size: 44px;
        text-align: center;
        padding: 0px 660px 0px 15px;
        width: 1170px;
    }

    .año-dieciséis{
        font-size: 50px;
        padding: 50px 0px 0px 480px;
        width: 300px;
    }

    .finales{
        font-size: 44px;
        padding: 10px 665px 0px 15px;
        text-align: center;
        width: 1170px;
    }

    .año-veinte{
        font-size: 50px;
        padding: 50px 0px 0px 535px;
    }

    .billboard{
        font-size: 44px;
        padding: 10px 665px 0px 15px;
        width: 1190px;
        text-align: center;
    }

    .billboard2{
        font-size: 44px;
        padding: 0px 5px 0px 15px;
        text-align: center;
        width: 1190px;
    }

    .año-veintitres{
        font-size: 50px;
        padding: 50px 0px 0px 540px;
    }

    .albumportals{
        font-size: 44px;
        padding: 10px 5px 0px 15px;
        text-align: center;
        width: 1190px;
    }

    .footer-biografia ul li{
        font-size: 43px;
        color: white;
        padding: 30px 0px 15px 500px;
    }

    header nav ul li a{
        font-size: 32px;
    }
  
    header{
        height: 70px;
    }

    .pagina-tour{
        background-image: url(../assets/img/melanie-fondo-tour.jpg);
        background-repeat: no-repeat;
        width: 400px;
        height: 1800px;
    }

    .mayo{
        position: absolute;
        font-size: 30px;
        top: 140px;
        left: 305px;
    }
    
    .primertour{
        position: absolute;
        font-size: 28px;
        top: 180px;
        left: 80px;
        width: 550px;
    }

    .link1{
        position: absolute;
        font-size: 25px;
        top: 250px;
        left: 305px;
    }

    .junio1{
        font-size: 30px;
        position: absolute;
        top: 350px;
        left: 310px;
    }

    .segundotour{
        position: absolute;
        font-size: 28px;
        top: 390px;
        left: 100px;
        width: 550px;
    }

    .link2{
        position: absolute;
        font-size: 25px;
        top: 460px;
        left: 305px;
    }

    .junio2{
        position: absolute;
        font-size: 30px;
        top: 560px;
        left: 310px;
    }

    .tercertour{
        font-size: 28px;
        padding-top: 280px;
        padding-right: 50px;
        text-align: center;
        width: 460px;
    }
    
}

.junio3{
    position: absolute;
    top: 420px;
    left: 50px;
}

.tercertour{
    position: absolute;
    top: 320px;
    left: 140px;
}

.cuartotour{
    position: absolute;
    top: 420px;
    left: 140px;
}

.link3{
    position: absolute;
    top: 320px;
    right: 150px;
}

.link4{
    position: absolute;
    top: 420px;
    right: 150px;
}

.footertour ul li{
    position: absolute;
    bottom: 10px;
    left: 660px;
}

.footertour ul li a{
    color: white;
}