 *{
    margin: 0;
    list-style: none;

}

header{
    display: flex;
    height: 47px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    box-shadow: 5px 0 10px black;
}



.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    padding-left: 20px;
}

nav a:hover{
    color: pink;
    transition: .3s;
}

header nav ul li{
    display: inline-block;
    padding: 5px;
    margin-right: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}

.nav-index {
    background-color: rgb(18, 21, 15);
    
}

.nav-biografia{
    background-color: black;
}

.nav-tour{
    background-color: rgb(49, 54, 49);
}

.nav-discografia{
    background-color: rgb(30, 30, 30);
}

.nav-contacto{
    background-color: rgb(38, 40, 38);
}

.fondo img{
    width: 1349px;
    margin-top: 47px;
}

.fondo-discografia{
    margin-top: 47px;
}

.blanco h5{
    font-size: px;
    color: white;
}
.blanco{
    background-color: white;
}

.parrafo-1{
    display: inline-block;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 17px 5px;
}

.parrafo-2{
    display: inline-block;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 5px 5px 30px;
}

.pagina-tour{
    background-image: url(../assets/img/melanie-fondo-tour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pagina-contacto{
    background-image: url(../assets/img/fondo-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-de-forms{
    color: white;
    width: 1000px;
    height: 500px 0px;
    margin: 0 auto;
}

.contenedor-de-forms form .nombre{
    margin: 40px 0px 0px 375px;
}

.nombre input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 10px;
}

.contenedor-de-forms form .apellido{
    margin: 40px 0px 0px 375px;
}

.apellido input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 8px;
}

.contenedor-de-forms form .correo{
    margin: 40px 0px 0px 375px;
}

.correo input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 19px;
}

.contenedor-de-forms form .usuario{
    margin: 40px 0px 0px 375px;
}

.usuario input{
    padding: 1px 10px 1px 0px;
    margin: 0px 0px 0px 14px;
}

.contenedor-de-forms form .contraseña{
    margin: 40px 0px 0px 375px;
}

.registrate{
    padding: 115px 0px 0px 615px;
    color: white;
    font-size: 28px;
}

.registrado{
    color: white;
    padding: 60px 0px 0px 610px;
}

.inicia-sesion{
    color: grey;
    padding: 0px 0px 0px 650px;
}

.footer-contacto{
    padding: 115px 0px 0px 626px;
}

.footer-contacto ul li a{
    color: white;
}

.redes div ul li img{
    width: 45px;
    height: 45px;
}

.ig{
    position: absolute;
    top: 580px;
    right: 10px;
}

.tw{
    position: absolute;
    top: 635px;
    right: 10px;
}

.yt{
    position: absolute;
    top: 690px;
    right: 10px;
}

.fb{
    position: absolute;
    top: 745px;
    right: 10px;
}

section{
    color: white;
    font-size: 14px;
}



.pity-party{
    position: absolute;
    top: 95px;
    left: 45px;
}

.highschool{
    position: absolute;
    top: 460px;
    left: 45px;
}

.nurces-office{
    position: absolute;
    top: 95px;
    right: 50px;
}

.teachers-pet{
    position: absolute;
    top: 460px;
    right: 50px;
}

.cancion1{
    font-size: 16px;
    position:  absolute;
    top: 75px;
    left: 276px;
}

.cancion3{
    font-size: 16px;
    position:  absolute;
    top: 440px;
    left: 230px;
}

.cancion2{
    font-size: 16px;
    position:  absolute;
    top: 75px;
    right: 260px;
}

.cancion4{
    font-size: 16px;
    position:  absolute;
    top: 440px;
    right: 260px;
}

.footer-discografia{
    position: absolute;
    top: 773px;
    left: 620px;
}

.footer-discografia ul li a{
    color: white;
}





.sitio-biografia{
    background-color: rgb(30 30 30);
}

.parte1-biografia{
    display: flex;
}

.melanie-2015{
    width: 600px;
    padding-left: 20px;
    padding-top: 65px;
}

.titulo-biografia{
    display: flex;
    color: white;
    font-size: 24px;
    padding: 90px 0px 0px 295px;
}

.biografia{
    color: white;
    text-align: left;
    font-size: 17px;
    padding: 5px 0px 0px 10px;
}

.vida-temprana{
    font-size: 24px;
    padding: 50px 0px 0px 265px; 
}

.familia{
    font-size: 17px;
    padding: 5px 0px 0px 10px;
}

.inicios{
    font-size: 24px;
    padding: 50px 0px 0px 220px;
}

.año-catorce{
    font-size: 22px;
    padding: 0px 0px 0px 320px;
}

.thevoice{
    font-size: 17px;
    padding: 5px 0px 0px 10px;
}

.año-quince{
    font-size: 22px;
    padding: 50px 0px 0px 640px;
}

.debut{
    font-size: 17px;
    text-align: left;
    padding: 5px 0px 0px 10px;
}

.parte2-biografia{
    display: flex;
}

.año-dieciséis{
    text-align: left;
    font-size: 22px;
    padding: 50px 0px 0px 300px;
}

.finales{
    font-size: 17px;
    padding: 5px 10px 0px 10px;
}

.melanie-2019{
    width: 640px;
    padding: 20px 20px 0px 0px;
}

.año-veinte{
    font-size: 22px;
    padding: 50px 0px 0px 325px;
}

.billboard{
    font-size: 17px;
    padding: 5px 10px 0px 10px;
}

.billboard-2{
    font-size: 17px;
    padding: 0px 3px 0px 10px;
}

.año-veintitres{
    font-size: 22px;
    padding: 50px 0px 0px 655px;
}

.albumportals{
    font-size: 17px;
    padding: 5px 5px 0px 10px;
}

.footer-biografia ul li{
    padding: 20px 0px 10px 620px;
}

.main-tour div{
    display: flex;
    color: white;
}

.linktour{
    color: white;
}

.mayo{
    padding-top: 110px;
    padding-left: 40px;
}

.primertour{
    padding-top: 110px;
    padding-left: 80px;
}

.link1{
    padding-top: 110px;
    padding-left: 670px;
}

.junio1{
    padding-top: 80px;
    padding-left: 40px;
}

.segundotour{
    padding-top: 80px;
    padding-left: 85px;
}

.link2{
    padding-top: 80px;
    padding-left: 693px;
}

.junio2{
    padding-top: 80px;
    padding-left: 40px;
}

.tercertour{
    padding-top: 80px;
    padding-left: 86px;
}

.link3{
    padding-top: 80px;
    padding-left: 730px;
}

.junio3{
    padding-top: 80px;
    padding-left: 40px;
}

.cuartotour{
    padding-top: 80px;
    padding-left: 86px;
}

.link4{
    padding-top: 80px;
    padding-left: 496px;
}

.junio4{
    padding-top: 80px;
    padding-left: 40px;
}

.quintotour{
    padding-top: 80px;
    padding-left: 86px;
}

.link5{
    padding-top: 80px;
    padding-left: 540px;
}

.footertour{
    padding: 150px 0px 0px 618px;
}

footer ul li a{
    color: white;
}

footer ul li a:hover{
    color: pink;
    transition: .3s;

}


@media (max-width: 400px){
    .parte1-biografia{
        display: flex;
        flex-direction: column;
    }

    .melanie-2015{
        width: 700px;
        padding: 105px 0px 0px 45px;
    }

    .titulo-biografia{
        font-size: 50px;
        padding: 60px 0px 0px 250px;
    }

    .biografia{
        font-size: 37px;
        padding: 10px 0px 0px 20px;
        width: 750px;
        text-align: center;
    }

    .vida-temprana{
        font-size: 50px;
        padding: 70px 0px 0px 190px;
        width: 450px;
    }

    .familia{
        font-size: 37px;
        padding: 10px 0px 0px 20px;
        width: 750px;
        text-align: center;
    }

    .inicios{
        font-size: 50px;
        padding: 70px 0px 0px 85px;
        width: 650px;
    }

    .año-catorce{
        font-size: 48px;
        padding: 0px 0px 0px 300px;
        width: 250px;
    }

    .thevoice{
        font-size: 37px;
        text-align: center;
        padding: 10px 0px 0px 20px;
        width: 750px;
    }

    .año-quince{
        font-size: 48px;
        padding: 50px 0px 0px 300px;
        width: 250px;
    }

    .debut{
        font-size: 37px;
        text-align: center;
        padding: 10px 0px 0px 20px;
        width: 750px;
    }

    .parte2-biografia{
        display: flex;
        flex-direction: column;
    }

    .año-dieciséis{
        font-size: 48px;
        padding: 50px 0px 0px 275px;
        width: 300px;
    }

    .finales{
        font-size: 37px;
        padding: 10px 0px 0px 15px;
        text-align: center;
        width: 760px;
    }

    .año-veinte{
        font-size: 48px;
        padding: 50px 0px 0px 330px;
    }

    .billboard{
        font-size: 37px;
        padding: 10px 0px 0px 10px;
        width: 770px;
        text-align: center;
    }

    .melanie-2019{
        width: 700px;
        padding: 10px 0px 10px 45px;
    }  

    .billboard-2{
        font-size: 37px;
        padding: 0px 0px 0px 20px;
        text-align: center;
        width: 750px;
    }

    .año-veintitres{
        font-size: 48px;
        padding: 50px 0px 0px 330px;
    }

    .albumportals{
        font-size: 37px;
        padding: 10px 0px 0px 15px;
        text-align: center;
        width: 750px;
    }

    .footer-biografia ul li{
        font-size: 35px;
        color: white;
        padding: 30px 0px 15px 295px;
    }

    header nav ul li a{
        font-size: 31px;
        padding-left: 30px;
    }
  
    header{
        height: 70px;
    }

    .main-tour div{
        display: flex;
        flex-direction: column;
        color: white;
    }

    mayo{
        font-size: 29px;
        padding-top: 150px;
        padding-left: 300px;
    }
    
    .primertour{
        font-size: 25px;
        padding-top: 110px;
        padding-left: 80px;
    }
    
    .link1{
        padding-top: 110px;
        padding-left: 670px;
    }
    
    .junio1{
        font-size: 29px;
        padding-top: 80px;
        padding-left: 40px;
    }
    
    .segundotour{
        font-size: 25px;
        padding-top: 80px;
        padding-left: 85px;
    }
    
    .link2{
        padding-top: 80px;
        padding-left: 693px;
    }
    
    .junio2{
        font-size: 29px;
        padding-top: 80px;
        padding-left: 40px;
    }
    
    .tercertour{
        font-size: 25px;
        padding-top: 80px;
        padding-left: 86px;
    }
    
    .link3{
        padding-top: 80px;
        padding-left: 730px;
    }
    
    .junio3{
        font-size: 29px;
        padding-top: 80px;
        padding-left: 40px;
    }
    
    .cuartotour{
        font-size: 25px;
        padding-top: 80px;
        padding-left: 86px;
    }
    
    .link4{
        padding-top: 80px;
        padding-left: 496px;
    }
    
    .junio4{
        font-size: 29px;
        padding-top: 80px;
        padding-left: 40px;
    }
    
    .quintotour{
        font-size: 25px;
        padding-top: 80px;
        padding-left: 86px;
    }
    
    .link5{
        padding-top: 80px;
        padding-left: 540px;
    }

    .footertour{
        padding-left: 20px;
    }
    
    .linktour{
        padding-left: 20px;
    }
}